{% extends "layout.html" %}

{% block title %}
    Manage Accounts
{% endblock %}

{% block main %}
    <h3>Add Account</h3>
    <form action="/add" method="post">
        <div class="form-group">
            <label for="type">Account Type</label>
            <select class="form-control" name="type" id="type">
                <option value="Bonds" id = "bonds">Bonds</option>
                <option value="Checking" id = "check">Checking account</option>
                <option value="Credit" id="credit">Credit card</option>
                <option value="Cryptocurrency" id="cryptocurrency">Cryptocurrency</option>
                <option value="Investment" id = "invest">Investment Account</option>
                <option value="Loan" id = "loan">Loan</option>
                <option value="Real Estate" id = "estate">Real Estate</option>
                <option value="Retirement" id = "retire">Retirement Account</option>
                <option value="Savings" id = "save">Savings Account</option>
                <option value="Stocks" id = "stocks">Stocks</option>
                <option value="Other" id = "other">Other</option>
            </select>
        </div>

        <div class="form-group">
            <label for="type">Country</label>
            <select class="form-control" name="country" id="country">
                <option value="Global" id = "gl">Global</option>
                <option value="Afghanistan" id = "af">Afghanistan</option>
                <option value="Albania" id = "al">Albania</option>
                <option value="Algeria" id = "dz">Algeria</option>
                <option value="American Samoa" id = "as">American Samoa</option>
                <option value="Andorra" id = "ad">Andorra</option>
                <option value="Angola" id = "ao">Angola</option>
                <option value="Argentina" id = "ar">Argentina</option>
                <option value="Armenia" id = "am">Armenia</option>
                <option value="Australia" id = "au">Australia</option>
                <option value="Austria" id = "at">Austria</option>
                <option value="Azerbaijan" id = "az">Azerbaijan</option>
                <option value="Bahamas" id = "bs">Bahamas</option>
                <option value="Bahrain" id = "bh">Bahrain</option>
                <option value="Bangladesh" id = "bd">Bangladesh</option>
                <option value="Barbados" id = "bb">Barbados</option>
                <option value="Belarus" id = "by">Belarus</option>
                <option value="Belgium" id = "be">Belgium</option>
                <option value="Belize" id = "bz">Belize</option>
                <option value="Benin" id = "bj">Benin</option>
                <option value="Bermuda" id = "bm">Bermuda</option>
                <option value="Bhutan" id = "bt">Bhutan</option>
                <option value="Bolivia" id = "bo">Bolivia</option>
                <option value="Bosnia And Herzegovina" id = "ba">Bosnia And Herzegovina</option>
                <option value="Botswana" id = "bw">Botswana</option>
                <option value="Brazil" id = "br">Brazil</option>
                <option value="Bulgaria" id = "bg">Bulgaria</option>
                <option value="Burkina Faso" id = "bf">Burkina Faso</option>
                <option value="Burundi" id = "bi">Burundi</option>
                <option value="Cambodia" id = "kh">Cambodia</option>
                <option value="Cameroon" id = "cm">Cameroon</option>
                <option value="Canada" id = "ca">Canada</option>
                <option value="Cape Verde Islands" id = "cv">Cape Verde Islands</option>
                <option value="Chad" id = "td">Chad</option>
                <option value="Chile" id = "cl">Chile</option>
                <option value="China" id = "cn">China</option>
                <option value="Colombia" id = "co">Colombia</option>
                <option value="Congo" id = "cg">Congo</option>
                <option value="Costa Rica" id = "cr">Costa Rica</option>
                <option value="Croatia" id = "hr">Croatia</option>
                <option value="Cuba" id = "cu">Cuba</option>
                <option value="Cyprus" id = "cy">Cyprus</option>
                <option value="Czech Republic" id = "cz">Czech Republic</option>
                <option value="Denmark" id = "dk">Denmark</option>
                <option value="Djibouti" id = "dj">Djibouti</option>
                <option value="Dominica" id = "dm">Dominica</option>
                <option value="Dominican Republic" id = "do">Dominican Republic</option>
                <option value="Ecuador" id = "ec">Ecuador</option>
                <option value="Egypt" id = "eg">Egypt</option>
                <option value="El Salvador" id = "sv">El Salvador</option>
                <option value="Eritrea" id = "er">Eritrea</option>
                <option value="Estonia" id = "ee">Estonia</option>
                <option value="Ethiopia" id = "et">Ethiopia</option>
                <option value="Fiji" id = "fj">Fiji</option>
                <option value="Finland" id = "fi">Finland</option>
                <option value="France" id = "fr">France</option>
                <option value="French Polynesia" id = "pf">French Polynesia</option>
                <option value="Gabon" id = "ga">Gabon</option>
                <option value="Gambia" id = "gm">Gambia</option>
                <option value="Georgia" id = "ge">Georgia</option>
                <option value="Germany" id = "de">Germany</option>
                <option value="Ghana" id = "gh">Ghana</option>
                <option value="Greece" id = "gr">Greece</option>
                <option value="Grenada" id = "gd">Grenada</option>
                <option value="Guatemala" id = "gt">Guatemala</option>
                <option value="Guinea" id = "gn">Guinea</option>
                <option value="Guyana" id = "gy">Guyana</option>
                <option value="Haiti" id = "ht">Haiti</option>
                <option value="Honduras" id = "hn">Honduras</option>
                <option value="Hungary" id = "hu">Hungary</option>
                <option value="Iceland" id = "is">Iceland</option>
                <option value="India" id = "in">India</option>
                <option value="Indonesia" id = "id">Indonesia</option>
                <option value="Iran" id = "ir">Iran</option>
                <option value="Iraq" id = "iq">Iraq</option>
                <option value="Ireland" id = "ie">Ireland</option>
                <option value="Israel" id = "il">Israel</option>
                <option value="Italy" id = "it">Italy</option>
                <option value="Jamaica" id = "jm">Jamaica</option>
                <option value="Japan" id = "jp">Japan</option>
                <option value="Jordan" id = "jo">Jordan</option>
                <option value="Kazakhstan" id = "kz">Kazakhstan</option>
                <option value="Kenya" id = "ke">Kenya</option>
                <option value="Korea" id = "kr">Korea</option>
                <option value="Korea" id = "kp">Korea</option>
                <option value="Kuwait" id = "kw">Kuwait</option>
                <option value="Latvia" id = "lv">Latvia</option>
                <option value="Lebanon" id = "lb">Lebanon</option>
                <option value="Liberia" id = "lr">Liberia</option>
                <option value="Libya" id = "ly">Libya</option>
                <option value="Lithuania" id = "lt">Lithuania</option>
                <option value="Luxembourg" id = "lu">Luxembourg</option>
                <option value="Madagascar" id = "mg">Madagascar</option>
                <option value="Malawi" id = "mw">Malawi</option>
                <option value="Malaysia" id = "my">Malaysia</option>
                <option value="Maldives" id = "mv">Maldives</option>
                <option value="Mali" id = "ml">Mali</option>
                <option value="Malta" id = "mt">Malta</option>
                <option value="Mauritania" id = "mr">Mauritania</option>
                <option value="Mauritius" id = "mu">Mauritius</option>
                <option value="Mexico" id = "mx">Mexico</option>
                <option value="Monaco" id = "mc">Monaco</option>
                <option value="Mongolia" id = "mn">Mongolia</option>
                <option value="Montenegro" id = "me">Montenegro</option>
                <option value="Morocco" id = "ma">Morocco</option>
                <option value="Mozambique" id = "mz">Mozambique</option>
                <option value="Namibia" id = "na">Namibia</option>
                <option value="Nepal" id = "np">Nepal</option>
                <option value="Netherlands" id = "nl">Netherlands</option>
                <option value="New Zealand" id = "nz">New Zealand</option>
                <option value="Nicaragua" id = "ni">Nicaragua</option>
                <option value="Niger" id = "ne">Niger</option>
                <option value="Nigeria" id = "ng">Nigeria</option>
                <option value="Norway" id = "no">Norway</option>
                <option value="Oman" id = "om">Oman</option>
                <option value="Pakistan" id = "pk">Pakistan</option>
                <option value="Panama" id = "pa">Panama</option>
                <option value="Papua New Guinea" id = "pg">Papua New Guinea</option>
                <option value="Paraguay" id = "py">Paraguay</option>
                <option value="Peru" id = "pe">Peru</option>
                <option value="Philippines" id = "ph">Philippines</option>
                <option value="Poland" id = "pl">Poland</option>
                <option value="Portugal" id = "pt">Portugal</option>
                <option value="Qatar" id = "qa">Qatar</option>
                <option value="Romania" id = "ro">Romania</option>
                <option value="Rwanda" id = "rw">Rwanda</option>
                <option value="Saudi Arabia" id = "sa">Saudi Arabia</option>
                <option value="Senegal" id = "sn">Senegal</option>
                <option value="Serbia" id = "rs">Serbia</option>
                <option value="Sierra Leone" id = "sl">Sierra Leone</option>
                <option value="Singapore" id = "sg">Singapore</option>
                <option value="Slovakia" id = "sk">Slovakia</option>
                <option value="Slovenia" id = "si">Slovenia</option>
                <option value="Solomon Islands" id = "sb">Solomon Islands</option>
                <option value="Somalia" id = "so">Somalia</option>
                <option value="South Africa" id = "za">South Africa</option>
                <option value="Spain" id = "es">Spain</option>
                <option value="Sri Lanka" id = "lk">Sri Lanka</option>
                <option value="Sudan" id = "sd">Sudan</option>
                <option value="Suriname" id = "sr">Suriname</option>
                <option value="Swaziland" id = "sz">Swaziland</option>
                <option value="Sweden" id = "se">Sweden</option>
                <option value="Switzerland" id = "ch">Switzerland</option>
                <option value="Taiwan" id = "tw">Taiwan</option>
                <option value="Tajikistan" id = "tj">Tajikistan</option>
                <option value="Thailand" id = "th">Thailand</option>
                <option value="Togo" id = "tg">Togo</option>
                <option value="Trinidad And Tobago" id = "tt">Trinidad And Tobago</option>
                <option value="Tunisia" id = "tn">Tunisia</option>
                <option value="Turkey" id = "tr">Turkey</option>
                <option value="Turkmenistan" id = "tm">Turkmenistan</option>
                <option value="Tuvalu" id = "tv">Tuvalu</option>
                <option value="Uganda" id = "ug">Uganda</option>
                <option value="Ukraine" id = "ua">Ukraine</option>
                <option value="United Arab Emirates" id = "ae">United Arab Emirates</option>
                <option value="United Kingdom" id = "gb">United Kingdom</option>
                <option value="United States" id = "us">United States</option>
                <option value="Uruguay" id = "uy">Uruguay</option>
                <option value="Uzbekistan" id = "uz">Uzbekistan</option>
                <option value="Vanuatu" id = "vu">Vanuatu</option>
                <option value="Venezuela" id = "ve">Venezuela</option>
                <option value="Viet Nam" id = "vn">Viet Nam</option>
                <option value="Yemen" id = "ye">Yemen</option>
                <option value="Zambia" id = "zm">Zambia</option>

            </select>
        </div>

        <div class="form-group">
            <label for="name">Account Name</label>
            <input id="name" name="name" class="form-control" type="text">
        </div>

        <div class="form-group">
            <label for="name">Custodian</label>
            <input id="custodian" name="custodian" class="form-control" type="text">
        </div>

        <div class="form-group">
            <label for="type">Current Value</label>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span id="value" class="input-group-text">$</span>
                    </div>
                    <input name="value" class="form-control" type="number" step="0.01" min="0" max="10000000">
                </div>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-success" type="submit">Add Account</button>
        </div>
    </form>

    <h3>Remove Account</h3>
    <form action="/remove" method="post">
        <div class="form-group">
            <label for="type">Account Name</label>
            <select name="account" class="form-control" id="removed">
                {% for row in accounts%}
                <option value="{{ row['name'] }}" >{{ row['name'] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-danger" type="submit">Remove Account</button>
        </div>
    </form>

    <script>
        document.getElementById("credit").addEventListener("click", function(){
            document.getElementById("value").innerHTML = "-$";
        });
        document.getElementById("loan").addEventListener("click", function(){
            document.getElementById("value").innerHTML = "-$";
        });
        document.getElementById("check").addEventListener("click", function(){
            document.getElementById("value").innerHTML = "$";
        });
        document.getElementById("save").addEventListener("click", function(){
            document.getElementById("value").innerHTML = "$";
        });
        document.getElementById("invest").addEventListener("click", function(){
            document.getElementById("value").innerHTML = "$";
        });
        document.getElementById("retire").addEventListener("click", function(){
            document.getElementById("value").innerHTML = "$";
        });
        document.getElementById("estate").addEventListener("click", function(){
            document.getElementById("value").innerHTML = "$";
        });
        document.getElementById("bonds").addEventListener("click", function(){
            document.getElementById("value").innerHTML = "$";
        });
        document.getElementById("cryptocurrency").addEventListener("click", function(){
            document.getElementById("value").innerHTML = "$";
        });
        document.getElementById("stocks").addEventListener("click", function(){
            document.getElementById("value").innerHTML = "$";
        });
    </script>

    <h3>Update Accounts</h3>
    <form action="/update" method="post">
        <div class="form-group">
            {% for row in accounts %}
            <div class="form-group">
                <label for="type">{{ row['name'] }}</label>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            {% if row['type'] == 'Credit' or row['type'] == 'Loan' %}
                            <span class="input-group-text">-$</span>
                            {% else %}
                            <span class="input-group-text">$</span>
                            {% endif %}
                        </div>
                        <input name="{{ row['name'] }}" class="form-control" type="number" step="0.01">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="form-group">
            <button class="btn btn-success" type="submit">Update Accounts</button>
        </div>
    </form>

{% endblock %}