{% extends "layout.html" %}

{% block title %}
    Manage Accounts
{% endblock %}

{% block main %}
    <h3>Add Account</h3>
    <form action="/add" method="post">
        <div class="form-group">
            <label for="type">Account Type</label>
            <select autofocus class="form-control" name="type"/>
                <option value="Checking">checking account</option>
                <option value="Savings">savings account</option>
                <option value="Retirement">retirement account</option>
                <option value="Investment">investment account</option>
                <option value="Loan">loan</option>
                <option value="Credit">credit card</option>
            </select>
        </div>

        <div class="form-group">
            <label for="name">Account Name</label>
            <input name="name" class="form-control" type="text">
        </div>

        <div class="form-group">
            <label for="type">Current Value</label>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input name="value" class="form-control" type="number" step="0.01">
                </div>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-success" type="submit">Add Account</button>
        </div>
    </form>

    <h3>Remove Account</h3>
    <form action="/remove" method="post">
        <div class="form-group">
            <label for="type">Account Name</label>
            <select autofocus name="account"class="form-control" id="removed" />
                {% for row in accounts%}
                <option value="{{ row['name'] }}" >{{ row['name'] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-danger" type="submit">Remove Account</button>
        </div>
    </form>
{% endblock %}
