<!-- Source for formatting numbers as currency is from https://stackoverflow.com/questions/12078571/jinja-templates-format-a-float-as-comma-separated-currency -->

{% extends "layout.html" %}

{% block title %}
    Portfolio Summary
{% endblock %}

{% block main %}
    {% if user[0]['realname'] == NULL %}
        <h2>{{ user[0]['username'] }}'s Net Worth</h2>
    {% else %}
        <h2>{{ user[0]['realname'] }}'s Net Worth</h2>
    {% endif %}
    <table class="table table-hover">
        <tr class="table-info">
            <th>Account</th>
            <th>Country</th>
            <th>Custodian</th>
            <th>Type</th>
            <th>Current Value</th>
        </tr>
        {% for row in accounts %}
        {% if row['value'] < 0 %}
        <tr class="table-danger">
        {% else %}
        <tr class="table-success">
        {% endif %}
            <td>{{ row['name'] }}</td>
            <td>{{ row['country'] }}</td>
            <td>{{ row['custodian'] }}</td>
            <td>{{ row['type'] }}</td>
            {% if row['value'] < 0 %}
            <td>-${{ "{:,.2f}".format(row['value'] * -1) }}</td>
            {% else %}
            <td>${{ "{:,.2f}".format(row['value']) }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        {% if total > 0 %}
        <tr class="table-success">
            <td>Net Worth</td>
            <td></td>
            <td></td>
            <td></td>
            <td>${{ total }}</td>
        </tr>
        {% else %}
        <tr class="table-danger">
            <td>Net Worth</td>
            <td></td>
            <td></td>
            <td></td>
            <td>-${{ "{:,.2f}".format(total * -1)}}</td>
        </tr>
        {% endif %}

    </table>
{% endblock %}

